/*___________ШРИФТЫ_________________________*/

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


/*___________Важное изменение_________*/


/* 
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}
*/


/*___________ОСНОВНОЕ__________ */

body {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  min-width: 1200px;
}

a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  background-color: #f4f7f9;
}

.nav-assortments,
.list-manufacturers,
.categories li,
.delivery-partners,
.service-controls,
.nav-sections,
.feedback li,
.breadcrumbs-item,
.sorting-controls,
.catalog-pages {
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}


/* ________ХЕДЕР________ */

.header-nav {
  align-items: center;
  position: relative;
  flex-direction: row;
  background-color: #293449;
}

.header-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 42px;
}

.header-nav .logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.header-nav .logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-nav .logo img {
  padding-top: 12px;
}

.header-nav .logo:hover {
  background-color: #ca2c37;
}

.header-nav .logo:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.header-nav .logo:focus {
  background-color: #ba2732;
}

.header-nav .logo:focus::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.user-activity {
  display: flex;
  justify-content: flex-end;
}

.user-activity a {
  padding-top: 12px;
  padding-bottom: 14px;
  opacity: 1;
  position: relative;
}

.user-activity .bookmark::before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  color: #ffffff;
  left: 23px;
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
}

.user-activity .bookmark {
  padding-left: 50px;
  padding-right: 28px;
}

.user-activity .basket::before {
  content: "";
  background-image: url(../img/icon-basket.svg);
  left: 19px;
  color: #ffffff;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
}

.user-activity .basket {
  padding-left: 50px;
  padding-right: 26px;
  background-color: #ee3643;
}

.user-activity .order {
  padding-left: 20px;
  padding-right: 22px;
  background-color: #ee3643;
}

.user-activity a:hover {
  background-color: #212a3a;
}

.user-activity a:active {
  background-color: #ee3643;
}

.user-activity .bookmark:hover::before,
.user-activity .basket:hover::before {
  opacity: 1;
}

.button-search>input {
  background-color: #293449;
  border: 0;
  outline: none;
  min-height: 40px;
  width: 100%;
  text-indent: 49px;
}

.button-search>input::placeholder {
  color: white;
  opacity: 1;
}

.button-search>input:focus-within {
  background-color: #ffffff;
  background-image: url(../img/icon-search-red.svg);
  background-repeat: no-repeat;
  background-position-x: 19px;
  background-position-y: 10px;
}

.button-search>input:focus-within::before {
  content: "";
  background-image: url(../img/icon-search.svg);
  top: 25%;
  left: 19px;
  color: red;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  position: absolute;
}

.button-search {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
  flex-grow: 2;
}

.button-search::before {
  content: "";
  background-image: url(../img/icon-search.svg);
  top: 25%;
  left: 19px;
  color: #ffffff;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
}

.button-search:hover,
.header-nav .logo:hover {
  opacity: 1;
}

.header-nav .order {
  background-color: #63a63e;
}

.header-nav .order:hover {
  background-color: #5fbb2d;
}

.header-nav .order:focus {
  background-color: #518534;
}

.header-nav a:focus {
  background-color: #161d29;
}


/* ____________________________________ */

.second-nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 61px;
  padding-top: 49px;
  justify-content: space-between;
}

.second-nav .container {
  display: flex;
  flex-wrap: wrap;
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-info h1 {
  display: flex;
  padding-left: 53px;
  max-width: 210px;
  text-align: left;
  font-weight: normal;
}

.address-header-index,
.address-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 270px;
  padding-left: 8px;
  position: inherit;
}

.address-header-index {
  padding-left: 40px;
}


/* .phone-index, */

.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
  padding-bottom: 11px;
  padding-top: 8px;
  padding-left: 21px;
  position: relative;
  /* background-image: url(../img/icon-phone.svg);
background-repeat: no-repeat;
background-position: 10px 50%;
padding-top: 8px;
padding-left: 21px;
padding-bottom: 11px; */
}

.phone::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 12px;
  position: absolute;
  opacity: 0.3;
}


/* .phone {
background-position: 10px 50%;
}

.phone-index {
background-position: 27px 41%;
} */

.address-header-index p,
.address-header p {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding-top: 1px;
}

h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.container h2 {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  padding: 0;
}

.сontact-us {
  font-family: "Cuprum", Arial, sans-serif;
  list-style: none;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.user-block-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 51px;
  min-width: 299px;
  margin: 0;
  padding: 0;
}

.user-block-index li,
.user-block li,
.user-block-details {
  list-style: none;
  position: relative;
  text-align: center;
}

.user-block-index {
  display: inherit;
  flex-direction: row;
}

.user-block,
.user-block-details {
  display: flex;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
}

.entrance,
.registration,
.user-block {
  background-color: #ffffff;
}

.registration,
.entrance,
.user-action {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-block-index {
  display: inherit;
  justify-content: flex-end;
  margin-top: 8px;
}

.entrance,
.registration {
  padding-top: 14px;
  padding-bottom: 11px;
  margin-left: 10px;
  align-items: center;
}

.entrance {
  padding-left: 48px;
  padding-right: 25px;
}

.registration {
  padding-left: 25px;
  padding-right: 25px;
}

.user-block-index .entrance::before {
  content: "";
  background-image: url(../img/icon-entrance.svg);
  color: #ffffff;
  width: 20px;
  height: 17px;
  top: 2px;
  left: 28px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
}

.user-action {
  display: inline-flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-left: 46px;
  background-position: 5% 50%;
}

.user-details {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-details:hover {
  color: #ee3643;
}

.user-details:active {
  color: #32425c;
  opacity: 0.3;
}

.user-block-details a {
  padding-left: 17px;
  padding-right: 15px;
}

.user-block-details::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  left: 106px;
  top: 10px;
  background-color: #000000;
}

.user-block .exit {
  font-size: 0;
}

.user-block .exit::after {
  content: "";
  background-image: url(../img/icon-exit.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  position: absolute;
  opacity: 0.3;
  left: 37px;
  top: 11px;
}

.user-block .name::before {
  content: "";
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  position: absolute;
  left: 13px;
  top: 10px;
  opacity: 0.3;
}

.user-block .exit:hover::after,
.user-block .name:hover::before {
  opacity: 1;
}

.user-block .exit:focus::after,
.user-block .name:focus::before {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #32425c;
  border-bottom: 4px solid #293449;
  margin-top: 36px;
}

.main-nav a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 22px;
}

.main-nav a:first-of-type {
  padding-left: 52px;
  padding-right: 34px;
}

.main-nav a:last-of-type {
  padding-left: 32px;
  padding-right: 54px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:focus {
  background-color: #1d2739;
}


/* ОСНОВНОЙ БЛОК */

.index-page {
  margin-top: 56px;
}


/* .main-section {
display: flex;
flex-direction: column;
} */


/* .index-main {
display: flex;
flex-direction: column;
} */

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  margin-bottom: 20px;
}

.categories .main-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
  background-position: 196px 50%;
}

.categories a {
  width: 134px;
  padding: 10px 0;
  margin-left: 25px;
  color: #f0f8ff;
  background-color: #0000001a;
}

.side-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-column li {
  margin-bottom: 20px;
}

.categories .materials {
  background-color: #ffbf47;
  background-image: url(../img/paint.svg);
  background-position: 213px;
}

.categories .instruments {
  background-color: #3bbce3;
  background-image: url(../img/tool.svg);
  background-position: 197px;
}

.categories .technology {
  background-color: #dc91d8;
  background-image: url(../img/tractor.svg);
  background-position: 192px;
}

.categories .discounts {
  background-color: #8ed78f;
  background-image: url(../img/basket.svg);
}

.categories .delivery {
  background-color: #ffbf47;
  background-image: url(../img/car.svg);
  background-position: 190px;
}

.slider-and-categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.categories-column {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-list {
  list-style: none;
  padding-left: 23px;
}

.slide-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 2px;
}

.slider-item p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 0;
}

.slider-item a {
  margin-top: 30px;
}

.previous-page,
.next-page {
  font-size: 0;
}

.previous-page::before {
  content: "";
  transform: rotate(180deg);
  position: absolute;
  left: 25px;
  top: 114px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
}

.next-page::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 114px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
}

.slider-category-button {
  font-size: 14px;
  line-height: 18px;
  padding-left: 49px;
  padding-right: 45px;
}

.switch-slider {
  display: flex;
  position: relative;
  background-image: url(../img/slide-drill.jpg);
  min-width: 620px;
  min-height: 266px;
  background-size: 620px 266px;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.switch-slider:hover {
  background-image: url(../img/slide-hammer-drill.jpg);
}

.main-item .category-button {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-item .category-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-item .category-button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.headings-main-sections {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  opacity: 1;
  border-radius: 2px;
  padding-left: 23px;
  padding-top: 26px;
  margin-top: 0;
}

.main-item {
  width: 300px;
  min-height: 123px;
}

.main-item h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 15px;
}

.slide-slide2 {
  display: none;
}

.headings-main-sections {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.headings-main-sections h3 {
  color: #ffffff;
}

.main-section,
.popular-production,
.popular-manufacturer,
.service,
.block-about-us {
  display: flex;
}

.service {
  background-color: #f4f7f9;
  margin-top: 60px;
}

.service .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 62px;
}

.service-heading h2 {
  margin-top: 65px;
}

.service-heading p {
  margin-top: 1px;
  width: 400px;
}

.delivery-slide p {
  width: 274px;
}

.new-block {
  display: flex;
}

.service-controls {
  position: relative;
  min-width: 240px;
}

.service-controls {
  padding-left: 0;
  margin-top: 49px;
}

.service-controls .service-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 22px;
  padding-right: 140px;
  padding-bottom: 12px;
  padding-left: 22px;
  background-color: #32425c;
  color: #ffffff;
  position: relative;
}

.service-controls::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
}

.serviсe-slide {
  margin-left: 80px;
  margin-top: 19px;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
}

.description-servise {
  display: flex;
}

.serviсe-slide h3 {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  margin-bottom: 24px;
  margin-top: 35px;
}

.slide-show {
  padding-bottom: 40px;
}

.delivery-slide {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 24px;
}

.guarantee-slide {
  background-image: url(../img/medal.png);
  background-repeat: no-repeat;
  background-position: 180px 0px;
}

.credit-slide {
  background-image: url(../img/money.png);
  background-repeat: no-repeat;
  background-position: 140px -10px;
  padding-bottom: 30px;
}

.slide-show .button-red {
  font-size: 14px;
  line-height: 18px;
  padding: 14px 44px;
}

.service-item:hover {
  color: #ffffff;
  background-color: #293449;
}

.service-item:active,
.service-item:focus {
  color: #000000;
  background-color: #ffffff;
}

.credit-slide,
.guarantee-slide {
  display: none;
}

.block-about-us {
  margin-top: 53px;
  margin-bottom: 94px;
}

.block-about-us .container {
  display: flex;
  justify-content: space-between;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}

.our-advantages {
  width: 63.5%;
}

.contact-us {
  width: 32%;
}

.our-advantages h3,
.contact-us h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.contact-us h3 {
  margin-bottom: 5px;
  padding: 0;
}

.contact-us .button {
  width: 100%;
}

.our-advantages p {
  margin-bottom: 22px;
  letter-spacing: 0.1px;
}

.our-advantages .terms-delivery {
  width: 400px;
}

.our-advantages .button,
.contact-us a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  /* margin-bottom: 36px; */
}

.contact-us a {
  display: block;
}

.contact-us .map-button {
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact-us p {
  margin: 0;
}

.our-advantages .button {
  padding: 14px 40px 12px 41px;
}

.delivery-partner {
  position: relative;
  margin-bottom: 16px;
  padding-left: 0;
}

.delivery-partners {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  margin-bottom: 24px;
  position: relative;
}

.delivery-partners li::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 9px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}


/* Повесилось только на 1 Li */

.delivery-partner a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
}


/* КАТАЛОГ */

.container .title-tool {
  color: #32425c;
  padding-left: 27px;
  padding-top: 34px;
  padding-bottom: 28px;
  margin: 0;
  background-color: #f2f6f8;
}

.breadcrumbs-wrapper {
  padding-left: 0;
}

.breadcrumbs-item a,
.catalog-pages a,
.paginaction-item a {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-left: 12px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs-item::before {
  content: "";
  background: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  top: 8px;
  width: 8px;
  height: 12px;
}

.breadcrumbs-icon-home::before {
  content: "";
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
  background-position: 0 50%;
  left: -14px;
}

.breadcrumbs-icon-home a {
  font-size: 0;
}


/* ФИЛЬТРЫ КАТАЛОГ */

.sorting-filter {
  background-color: #f7f3ec;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.sorting-filter-list,
.sorting-direction {
  list-style: none;
  display: inherit;
  position: relative;
  margin: 0;
}

.sorting-filter h3,
.filter h3,
.sorting-item a {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sorting-filter h3,
.filter h3 {
  padding-left: 19px;
  vertical-align: middle;
  margin-top: 10px;
}

.sorting-filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  min-width: 355px;
}

.sorting-filter-list li {
  padding-bottom: 5px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
  text-align: center;
}

.sorting-item:nth-of-type(2) a {
  margin-left: 6px;
}

.sorting-item a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sorting-item a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-direction a {
  font-size: 0;
}

.sorting-direction a::before {
  content: "";
  background-image: url(..//img/icon-down.svg);
  height: 10px;
  width: 11px;
  position: absolute;
  top: 15px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.sorting-direction .down a::before {
  right: 17px;
}

.sorting-direction .up a::before {
  right: 49px;
  transform: rotate(180deg);
}

.direction a:hover::before {
  opacity: 1;
}

.direction a:active:before {
  background-image: url(..//img/icon-up-red.svg);
}


/* _________________ */

.filter {
  display: flex;
  flex-direction: column;
  min-width: 220px;
}

.filter h3 {
  background-color: #f7f3ec;
  vertical-align: middle;
  padding: 10px 20px;
  margin: 0;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-form-item {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.filter-form-title {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}

.filter-checkbox-control,
.filter-form-energy {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-submit {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 57px;
  padding: 10px 35px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}


/* НОМЕРА СТРАНИЦ ПОД КАРТОЧКАМИ ТОВАРОВ */

.catalog-pages {
  display: flex;
}

.catalog-pages a {
  border: 1px solid #e5e5e5;
}

.catalog-pages a:hover {
  border: 1px solid #bdc6ca;
}

.catalog-pages a:focus {
  border: 1px solid #ee3643;
}

.catalog-pages a:active {
  background-color: #ee3643;
}


/* ______Много текста О перфах______ */

.tool .container {
  padding-top: 68px;
}

.tool {
  background-color: #f4f7f9;
  display: flex;
  padding-bottom: 58px;
}

.container .tool-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 23px;
  letter-spacing: 0.2px;
}

.tool-description {
  letter-spacing: 0.1px;
}


/*________ФУТЕР____________________ */

.footer-logo {
  width: 138px;
  height: 63px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  position: relative;
  text-align: center;
  padding: 0 41px;
}

.footer-logo img {
  padding-top: 18px;
}

.footer-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.feedback {
  background-color: #293449;
  display: flex;
  padding-bottom: 22px;
}

.block-main-nav .container,
.block-assortment .container {
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
  justify-content: space-between;
}

.nav-assortments {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 20px;
}

.container .nav-section,
.nav-assortments a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.block-main-nav,
.block-assortment {
  justify-content: space-between;
  background-color: #32425c;
}

.block-assortment {
  padding-bottom: 51px;
}

.nav-assortments a,
.feedback-mail,
.feedback-site {
  color: #ffd180;
}

.nav-sections {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-top: 36px;
}

ul .nav-section {
  margin-left: 59px;
}

.nav-assortment {
  display: block;
  padding-right: 0;
  padding-left: 59px;
}

.nav-assortment .nav-section:hover,
.nav-assortment:hover {
  text-decoration: underline;
}

.nav-sections a:focus,
.nav-assortments a:focus {
  opacity: 0.5;
  text-decoration: none;
}

.container-for-feedback {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 36px;
  margin: 0;
  padding-right: 9px;
}

.feedback-mail:hover,
.feedback-site:hover {
  text-decoration: underline;
}

.feedback-mail:focus,
.feedback-site:focus {
  color: #ee3643;
  text-decoration: none;
}

.feedback li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.feedback .mail {
  margin-left: auto;
  margin-right: 56px;
}

.contact-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 19px;
  margin-left: 3px;
}

.contact-info a {
  letter-spacing: 0.4px;
}


/*________СОЦ.СЕТИ_____________________ */

.social-button-block {
  display: flex;
  justify-content: space-between;
  min-width: 132px;
  position: relative;
  top: -8px;
  left: 120px;
}

.social-button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button-block a {
  font-size: 0;
  display: inline-block;
}

.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.instagram {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus {
  text-decoration: none;
  background-color: #ee3643;
}

.feedback-mail,
.feedback-site {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}


/*______________КНОПКИ_______________ */

.button {
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 11px;
  align-self: center;
  min-width: 250px;
}

.section-heading-with-button .button {
  padding-left: 3px;
  padding-right: 1px;
}


/*___________________________________  */

.popular-production {
  display: flex;
  flex-direction: column;
}

.popular-manufacturer .container {
  display: flex;
  flex-direction: column;
}

.section-heading-with-button {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  text-transform: uppercase;
  padding-right: 24px;
  padding-left: 30px;
  background-color: #f9f5f0;
  margin-bottom: 24px;
}

.section-heading-with-button a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.production-list {
  margin: 20px auto;
  font-size: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.production {
  position: relative;
  display: inline-block;
  width: 31%;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.production:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.production-list-catalog {
  margin-left: 20px;
}

.production-list-catalog .production {
  margin-right: 20px;
}

.production-list-catalog .production:nth-of-type(3n) {
  margin-right: 0px;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.flag-new::before {
  content: "";
  background: url(../img/new-flag.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
}

.production .action-item {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.production:hover .action-item {
  display: block;
}

.production .production-name {
  width: 217px;
  height: 168px;
}

.production .production-name img {
  max-width: 100%;
}

.production .action-item .action-buy,
.production .action-item .action-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.production .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.production .old-price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  height: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5px;
  letter-spacing: 0.1;
}

.production .new-price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
  text-align: center;
  width: 80px;
  margin-bottom: 20px;
  margin-left: 42px;
  padding: 10px 27px;
  color: #ffffff;
  background: #ee3643;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.production .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}


/* .action-item a {
font-family: "Cuprum", Arial, sans-serif;
text-transform: uppercase;
font-size: 14px;
line-height: 18px;
}

.production:hover .action-item {
visibility: visible;
}

.production-name {
order: -1
}

.production img {
order: -2
}

.production:hover img {
visibility: hidden;
}
*/

.action-buy {
  color: #ffffff;
  text-align: center;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 2px;
  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 14px 50%;
  padding-left: 45px;
  padding-right: 49px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.action-buy:hover {
  background-color: #5fbb2d;
  border-bottom: 3px solid #367315;
}

.action-buy:focus {
  background-color: #518534;
}

.action-buy:focus {
  background-color: #ee3643;
}

.action-bookmark {
  color: #32425c;
  border-radius: 2px;
  padding-left: 36px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 12px;
  border: 3px solid#63a63e;
}

.action-bookmark:hover {
  border: 3px solid #32425c;
}

.action-bookmark:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.production-name h3 {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.paginaction-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 285px;
  padding: 7px 0px;
  margin-top: 31px;
  margin-bottom: 60px;
  list-style: none;
}

.paginaction-item a {
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 10px 15px;
}

.paginaction-item:last-of-type a {
  padding-left: 29px;
  padding-right: 32px;
}

.paginaction-item a:hover {
  border-color: #bdc6ca;
}

.paginaction-item a:focus {
  border-color: #ee3643;
}

.paginaction-list .active a {
  background-color: #ee3643;
}

.popular-manufacturer h2,
.popular-production h2 {
  color: #32425c;
}

.popular-production h2,
.popular-manufacturer h2 {
  margin-top: 31px;
}


/* .popular-manufacturer h2 {
margin-top: 32px;
} */

.list-manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin: 0px auto;
}

.list-manufacturers li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
}

.list-manufacturers li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:focus {
  opacity: 0.5;
}

.visually-hidden,
.container .visually-hidden {
  font-size: 0;
  line-height: 0;
}


/*ФОРМЫ */


/* .user-data {
font-family: "Cuprum", Arial, sans-serif;
text-decoration: none;
font-size: 18px;
line-height: 24px;
color: #000000;
} */


/* для наглядности */


/* .map-form,
.feedback-form {
display: none;} */


/* div,
section,
a,
ul,
li,
p,
footer,
header {
outline: 1px solid red;
} */

.modal-show {
  /* display: flex;
  flex-direction: row; */
  position: fixed;
  top: 11%;
  left: 34%;
  max-width: 620px;
  max-height: 420px;
  justify-content: space-between;
  background-color: aquamarine;
  position: relative;
}

.modal-feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 55px 80px 23px 80px;
}

.feedback-form-close {
  font-size: 0;
}

.feedback-form-close::before {
  content: "";
  background-image: url(../img/form-close.svg);
  background-color: blueviolet;
  color: #ffffff;
  left: 2px;
  width: 21px;
  height: 21px;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
}